:root {
	--main: rgba(5,125,230,0.8);
	--light-main: rgba(5,125,230,0.4);
	--light-gray: rgba(230,230,230,0.7);
	--gray: rgba(190,190,190,0.7);
	--tan: rgba(210, 189, 153);
	--soft-white: rgba(245,245,245,1);
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

#project-body {
	background: url('./assets/Sprinkle.svg');
	background-position: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 100%;
	min-width: 100%;
	overflow-x: hidden;
}

.project-btn-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 450px;
	margin-top: 30px;
}

.project-btn {
	padding: 2% 5%;
	margin: 3% 0;
	background-color: var(--soft-white);
	border-radius: 5px;
	box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
	text-decoration: none;
	color: rgba(30, 30, 30, 1.0);
}

.project-btn:hover {
	background-color: rgba(30, 30, 30, 0.8);
	color: var(--soft-white);
}

/* Slideshow */
.slideshow-container {
	max-width: 100%;
	min-width: 100%;
	margin: 35px 0 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slideshow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 90%;
	min-width: 90%;
}

#dojo-slideshow {
	display: flex;
	justify-content: center;
}

.main-image-container {
	max-width: 90%;
	min-width: 90%;
	box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.2);
}

.main-image {
	max-width: 100%;
	min-width: 100%;
}

.gallery-arrow {
	min-width: 5%;
	max-width: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.img-chevron {
	color: var(--soft-white);
	font-size: 2.5rem;
}


/* Title, Languages and Description */

.proj-title-container {
	min-width: 82%;
	max-width: 82%;
	background-color: var(--soft-white);
	padding: 1.5% 2%;
	border-radius: 10px;
	margin-bottom: 20px;
}

.proj-title {
	font-size: 1.5rem;
}

.proj-with {
	font-size: 0.8rem;
	color: rgba(160,160,160,1);
}

.text-langs-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 0 10px 0px;
	width: 70%;
}

.text-langs {
	padding: 5px 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: var(--soft-white);
	border-radius: 5px;
	margin: 10px;
	box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.2);
}

.proj-text-description {
	max-width: 70%;
	background-color: var(--soft-white);
	margin: 10px 0 40px 0;
	border-radius: 10px;
}

.proj-text {
	line-height: 1.6;
	padding: 15px 1px;
}


/* Mobile Slider */
.mobile-slider {
	display: none
}


/***** MEDIA QUERIES *****/
@media only screen and (max-width: 1050px) {
	body {
		overflow-x: hidden;
		max-width: 100vw;
	}

	.project-btn-container {
		display: flex;
		flex-direction: column;
	}

	.slideshow-container {
		max-width: 90%;
		min-width: 90%;
	}

	.slideshow {
		min-width: 95%;
		max-width: 95%;
		justify-content: center;
	}

	.gallery-arrow {
		display: none;
	}

	.main-image-container {
		max-width: 100%;
		min-width: 100%;
	}

	.mobile-slider {
		display: flex;
		justify-content: center;
	}

	.mobile-arrow {
		margin: 0 20px 10px 20px;
	}

	.proj-text-description {
		width: 70%;
	}

}





























